form{
    display: flex;
}
input{
flex: 8;
border: none;
border-bottom: 2px solid black;
}
button{
flex: 2;
border-radius:5px;
background-color:black;
color: white;
height: 20px;
}
button:hover{
background-color:white;
color: black;
}